@import 'common.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-colour);

  h1 {
    color: var(--text-colour);
  }

  h2 {
    color: var(--text-colour);
  }

  h3 {
    color: var(--text-colour);
  }

  h4 {
    color: var(--text-colour);
  }

  h5 {
    color: var(--text-colour);
  }

  h6 {
    color: var(--text-colour);
  }

  p {
    color: var(--text-colour);
  }

  .wizard-wrapper {
    height: 100%;
  }

  .about-wrapper {
    height: 100%;
  }

  .editor-wrapper {
    display: flex;
    height: 100%;

    .editor-column {
      background-color: var(--background-colour);
      box-sizing: border-box;
      //flex: 1 1 auto;

      &#editor-meta {
        width: 256px;
        min-width: 256px;
      }

      &#editor-main {
        min-width: 50%;
      }
    }

    .editor-handle {
      width: 8px;
      padding: 0;
      cursor: col-resize;
      background-color: var(--foreground-colour);
      flex: 0 0 auto;
      //@include transition(width, 0.25s, ease-in-out);

      &:hover, &:focus, &:active {
        width: 8px;
        //@include transition(width, 0.25s, ease-in-out);
      }
    }

    .editor-handle::before {
      content: '';
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }

  .page-wrapper {
    .page {
      display: none;

      &.show {
        display: block;
      }
    }
  }
}
