@import 'common.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-colour);
  @include transition(background-color, 0.15s, ease-in-out);

  h1 {
    color: var(--text-colour);
  }

  h2 {
    color: var(--text-colour);
  }

  h3 {
    color: var(--text-colour);
  }

  h4 {
    color: var(--text-colour);
  }

  h5 {
    color: var(--text-colour);
  }

  h6 {
    color: var(--text-colour);
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-colour);
  }

  label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-colour);
  }

  button.button,
  input.button {
    background-color: var(--foreground-colour);
    color: var(--text-colour);
    border-radius: .35rem;
    border: 0;
    padding: 8px 16px;
    min-width: 96px;
    @include box-shadow(0, 5px, 15px, 0, var(--box-shadow));
    @include transition(background-color, 0.15s, ease-in-out);

    &:hover {
      background-color: var(--link-colour);
      @include transition(background-color, 0.15s, ease-in-out);
    }

    &:focus {
      outline: none;
    }

    &.tint {
      background-color: var(--highlight-colour);

      &:hover {
        background-color: var(--link-colour);
      }
    }

    &.toolbar-button {
      height: 32px;
      width: 32px;
      min-width: unset;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;

      i {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  input.text {
    background-color: var(--foreground-colour);
    color: var(--text-colour);
    border-radius: .35rem;
    border: 0;
    padding: 8px 16px;
    min-width: 96px;
    @include box-shadow(0, 5px, 15px, 0, var(--box-shadow));
    @include transition(background-color, 0.15s, ease-in-out);

    &:hover {
      background-color: var(--link-colour);
      @include transition(background-color, 0.15s, ease-in-out);
    }

    &:focus {
      outline: none;
    }
  }

  form.input-form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .input-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

      .input-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 16px 0;
        width: 75%;

        label {
          width: 25%;
        }

        .text, .button {
          margin: 0 0 0 16px;
          width: 75%;
        }
      }
    }

    .control-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 0 16px 0;

      .button {
        &:first-child {
          margin: 0 16px 0 0;
        }
      }
    }
  }

  .create-wrapper {
    height: 100%;
  }

  .wizard-wrapper {
    height: 100%;

    .welcome-page {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .welcome-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 48px 0;

        .title {
          font-size: 6.8rem;
          text-align: center;
          line-height: 9.6rem;
          margin: 0;
          background: -webkit-linear-gradient(left, #3095E5, #E53068);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .tagline {
          font-size: 1.4rem;
          text-align: center;
          line-height: 1.4rem;
          margin: 0;
        }
      }

      .welcome-options {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .button {
          &:first-child {
            margin: 0 16px 0 0;
          }
        }
      }
    }
  }

  .about-wrapper {
    height: 100%;
  }

  .editor-wrapper {
    display: flex;
    height: 100%;

    .editor-column {
      background-color: var(--background-colour);
      box-sizing: border-box;
      //flex: 1 1 auto;

      &#editor-meta {
        width: 256px;
        min-width: 256px;
      }

      &#editor-main {
        min-width: 50%;
      }

      .editor-toolbar {
        display: flex;
        flex-direction: row;
        min-height: 32px;
        width: 100%;
        padding: 6px;
        border-bottom: 1px solid var(--foreground-colour);

        .dropdown-wrapper {
          position: relative;

          &:not(:last-child) {
            margin: 0 6px 0 0;
          }

          .toolbar-dropdown {
            display: none;
            position: absolute;
            flex-direction: column;
            top: 32px;
            left: 0;
            background-color: var(--background-colour);
            border-radius: .35rem;
            padding: 6px;
            @include box-shadow(0, 5px, 15px, 0, var(--box-shadow));

            &.show {
              display: flex;
            }

            .dropdown-button {
              height: 32px;
              display: flex;
              flex-direction: row;
              align-items: center;
              align-content: center;
              justify-content: flex-start;

              &:not(:last-child) {
                margin: 0 0 6px 0;
              }

              i {
                font-size: 1.2rem;
                font-weight: 500;
                margin: 0 6px 0 0;
              }
            }
          }
        }
      }
    }

    .editor-handle {
      width: 8px;
      padding: 0;
      cursor: col-resize;
      background-color: var(--foreground-colour);
      flex: 0 0 auto;
      //@include transition(width, 0.25s, ease-in-out);

      &:hover, &:focus, &:active {
        width: 8px;
        //@include transition(width, 0.25s, ease-in-out);
      }
    }

    .editor-handle::before {
      content: '';
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }

  .page-wrapper {
    height: 100%;

    .page {
      height: 100%;
      display: none;

      &.show {
        display: block;
      }
    }
  }
}
